.link {
  color: white;
}
.link:hover {
  color: black;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover td {
  background-color: coral;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.img {
  border-radius: 50%;
}


.p1 {
  text-align: center;
  font-family: 'Saraban';
}
.p2 {
  text-align: center;
  font-family: 'Mitr';
}
.p3 {
  text-align: center;
  font-family: 'Prompt';
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 20px;
  text-align: center;
}